@import '~antd/es/style/themes/default.less';
@import '~@/utils/utils.less';

.coverCardList {
  margin-bottom: -24px;

  .card {
    :global {
      .ant-card-meta-title {
        margin-bottom: 4px;
        & > a {
          display: inline-block;
          max-width: 100%;
          color: @heading-color;
        }
      }
      .ant-card-meta-description {
        height: 44px;
        overflow: hidden;
        line-height: 22px;
      }
    }

    &:hover {
      :global {
        .ant-card-meta-title > a {
          color: @primary-color;
        }
      }
    }
  }

  .cardTitle {
    display: flex;
    height: 25px;
    margin-top: -20px;
    margin-left: -10px;
    line-height: 25px;
  }

  .cardItemContent {
    display: flex;
    height: 20px;
    margin-top: 8px;
    margin-bottom: -16px;
    margin-left: -10px;
    line-height: 20px;
    & > span {
      flex: 1;
      color: @text-color-secondary;
      font-size: 12px;
    }
  }

  .cardList {
    margin-top: 24px;
  }

  :global {
    .ant-list .ant-list-item-content-single {
      max-width: 100%;
    }
  }

  .cardImg {
    position: relative;
    height: 150px;
    background-size: cover;
    background-position: center;
    white-space: nowrap;
    .cardActions {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
      font-size: 30px;
      opacity: 0;
      i {
        margin: 0 10px;
        transition: all 0.3s;
        color: lightgrey;
        &:hover {
          color: deepskyblue;
        }
      }
    }
    &:before {
      content: ' ';
      position: absolute;
      z-index: 0;
      background-color: fade(#000, 50%);
      transition: all 0.3s;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    &:hover {
      .cardActions {
        opacity: 1;
      }
      &:before {
        opacity: 1;
      }
    }
  }
}

// 单独放出以免覆盖默认hover样式
.newButton {
  width: 100%;
  height: 212px;
  font-size: large;
  color: @text-color-secondary;
  background-color: @component-background;
  border-color: @border-color-base;
  border-radius: @border-radius-sm;
}
